{{ attach_library('<%= project _%>/<%= tag _%>') }}

{%
  set config = [
<% classes.forEach(str => { -%>
    '<%= str _%>',
<% }) -%>
  ]
%}

<div{{ attributes.setAttribute('class', config) }}>

<% fieldnames.forEach(obj => { -%>
<% if (obj.isPlural) { -%>
  {% for <%= obj.singular %> in <%= obj.fieldname %> %}
    {{ <%= obj.singular %> }}
  {% endfor %}
<% } else { -%>
  {{ <%= obj.fieldname %> }}
<% } -%>

<% }) -%>
</div>
