{{ attach_library('<%= project _%>/<%= tag _%>') }}

{%
  set config = [
<% classes.forEach(function(str) { -%>
    '<%= str _%>',
<% }) -%>
  ]
%}

<div{{ attributes.setAttribute('class', config) }}>

<% fields.forEach(function(field) { -%>
<% if (field.endsWith('s')) { -%>
  {% for <%= field.slice(0, -1) %> in <%= field %> %}
    {{ <%= field.slice(0, -1) %> }}
  {% endfor %}
<% } else { -%>
  {{ <%= field %> }}
<% } -%>

<% }) -%>
</div>
