{{ attach_library('<%= project _%>/<%= tag _%>') }}

{%
  set config = [
<% classes.forEach(function(str) { -%>
    '<%= str _%>',
<% }) -%>
  ]
%}

<div{{ attributes.setAttribute('class', config) }}>

<% args.forEach(function(arg) { -%>
  {{ <%= arg %> }}
<% }) -%>

</div>
