{{ attach_library('<%= project _%>/<%= tag _%>') }}

{%
  set config = [
    '<%= tag _%>',
<% if (group) { -%>
    '<%= group _%>',
<%_ } -%>
  ]
%}

<div{{ attributes.addClass(classes, config) }}>

  <h2>{{ label }}</h2>

  {% block content %}
    <pre>@TODO</pre>
<% args.forEach(function(arg) { -%>
    <pre>{{ <%= arg %> }}</pre>
<% }) -%>
  {% endblock %}

</div>