{{ attach_library('<%= project _%>/<%= tag _%>.library') }}

{%
  set config = [
    '<%= tag _%>',
<% if (group) { -%>
    '<%= group _%>',
<%_ } -%>
  ]
%}

<div{{ attributes.addClass(classes, config) }}>

  <h2>{{ label }}</h2>

  {% block content %}
    <pre>@TODO</pre>
  {% endblock %}

</div>