{%
  set cssClasses = [
<% cssClasses.forEach(str => { -%>
    '<%= str _%>',
<% }) -%>
  ]
%}

<div{{ attributes.setAttribute('class', cssClasses) }}>

<% fields.forEach(field => { -%>
<% if (field.type == "array") { -%>
  {% for <%= field.singular %> in <%= field.plural %> %}
    {{ <%= field.singular %> }}
  {% endfor %}
<% } else { -%>
  {{ <%= field.name %> }}
<% } -%>

<% }) -%>
<% slots.forEach(slot => { -%>
  {% block <%= slot.name %> %}
    <%= slot.label %>
  {% endblock %}

<% }) -%>
</div>
